* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-track {
    background: #bbccff;
}

::-webkit-scrollbar-thumb {
    background: #6187f7;
    border-radius: 2vw;
}

/* Home */

nav {
    display: flex;
    padding-top: 3%;
    padding-left: 8%;
    padding-right: 8%;
    justify-content: space-between;
    align-items: center;
    grid-area: nav;
}

.logo {
    width: 20vh;
    opacity: 1;
    transition: 0.3s;
}

.logo:hover {
    opacity: 0.5;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0.7vw;
    position: relative;
}

nav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #d4d4d4;
    display: block;
    margin: auto;
    transition: 0.3s ease;
}

nav ul li:hover::after {
    width: 100%;
}

nav ul li a {
    color: #232140;
    text-decoration: none;
    font-size: 2.5vh;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #d4d4d4;
}

header {
    color: #232140;
    grid-area: header;
}

main {
    grid-area: main;
}

.intro {
    min-height: 50vh;
    width: 100%;
    background-image: url(image/bg_home_1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.portfoliobanner {
    min-height: 50vh;
    width: 100%;
    background-position: right;
    background-size: cover;
    position: relative;
    animation: portfoliobannerimg 9s infinite;
}

@keyframes portfoliobannerimg {
    0% {
        background-image: url(image/bg_home_2-1.png);
    }

    13% {
        background-image: url(image/bg_home_2-1.png);
    }

    33% {
        background-image: url(image/bg_home_2-2.png);
    }

    46% {
        background-image: url(image/bg_home_2-2.png);
    }

    66% {
        background-image: url(image/bg_home_2-3.png);
    }

    80% {
        background-image: url(image/bg_home_2-3.png);
    }

    100% {
        background-image: url(image/bg_home_2-1.png);
    }
}

.text_portfoliobanner {
    font-weight: 800;
    font-size: 5vh;
    color: #232140;
    text-align: left;
    line-height: 0.9;
    padding-left: 8%;
    padding-top: 15vh;
    padding-bottom: 10vh;
    padding-right: 50%;
}

.portfoliobanner-btn {
    display: inline-block;
    text-decoration: none;
    color: #6187f7;
    border: 2px solid #6187f7;
    border-radius: 20px;
    font-size: 2.5vh;
    background: transparent;
    position: relative;
    margin-top: 5vh;
    padding: 1vh 2.5vh;
    transition: 0.5s;
}

.portfoliobanner-btn:hover {
    background-color: #6187f7;
    color: #fff;
}

aside {
    grid-area: aside;
}

.home_aside {
    background-color: #f6ce98;
    height: 100%;
}

.home_aside h2 {
    color: #fff;
    ;
    font-weight: 800;
    font-size: 10vh;
    text-align: left;
    line-height: 0.9;
    padding-left: 25%;
    padding-top: 15vh;
    padding-bottom: 5vh;
    padding-right: 20%;
}

.contact-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    font-size: 2.5vh;
    background: transparent;
    position: relative;
    margin-top: 5vh;
    padding: 1vh 2.5vh;
    transition: 0.5s;
    left: 30%;
    margin-bottom: 5vh;
}

.contact-btn:hover {
    background-color: #fff;
    color: #f6ce98;
}

footer {
    background-color: #232140;
    text-align: center;
    grid-area: footer;
}

footer h3 {
    font-weight: 800;
    font-size: 5vh;
    color: #fff;
    text-align: center;
    padding-top: 8vh;
    padding-bottom: 3vh;
}

footer ul li {
    list-style: none;
    display: inline-block;
    padding: 3vw;
    position: relative;
    padding-top: 2vh;
    padding-bottom: 1vh;
    opacity: 100%;
    transition: 0.5s;
}

footer ul li:hover {
    opacity: 20%;
}

.cr {
    color: #ffffff2f;
    padding: 5vh;
}

/* Portfolio */

.portfolio_header {
    color: #232140;
    min-height: 90vh;
    width: 100%;
    background-image: url(image/bg_portfolio.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.project {
    color: #232140;
}

.project h3 {
    color: #6187f7;
    font-size: 2.5vh;
    font-weight: 800;
    padding-bottom: 1vh;
}

.project h2 {
    font-size: 7.5vh;
    font-weight: 800;
    padding-bottom: 1vh;
    line-height: 0.9;
}

.project p {
    font-size: 2.5vh;
    font-weight: 600;
    padding-bottom: 5vh;
    padding-right: 45%;
}

.project img {
    width: 80vh;
    padding-right: 3vh;
    padding-bottom: 3vh;
}

.project {
    overflow: hidden;
}

.project figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: slider 10s infinite;
}

.project figure img {
    float: left;
    width: 20%;
}

@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    35% {
        left: -100%;
    }

    55% {
        left: -100%;
    }

    70% {
        left: -200%;
    }

    90% {
        left: -200%;
    }
}

#xyz {
    padding-top: 4%;
    padding-left: 8%;
    padding-right: 8%;
}

#tora {
    margin-top: 55%;
    padding-left: 8%;
    padding-right: 8%;
}

#apollo {
    margin-top: 55%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 50%;
}

/* Work Experience */

.workexp_header {
    color: #232140;
    min-height: 90vh;
    width: 100%;
    background-image: url(image/bg_home.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.workexp_text {
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #232140;
    padding: 8%;
}

.workexp_text h3 {
    font-size: 2.5vh;
    font-weight: 800;
    padding-bottom: 1vh;
}

.workexp_text h2 {
    font-size: 7.5vh;
    font-weight: 800;
    padding-bottom: 1vh;
}

.workexp_text p {
    font-size: 2.5vh;
    font-weight: 600;
}

/* Contact */

.contact_body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer"
    ;
}

.contact_header {
    color: #232140;
    min-height: 90vh;
    width: 100%;
    background-image: url(image/bg_contact.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* Site Report */

.sitereport_body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer"
    ;
}

.sitereport_header {
    color: #232140;
    min-height: 90vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    animation: bg_change 6s infinite;
}

.sitereport_header h1 {
    padding-top: 60vh;
}

@keyframes bg_change {
    0% {
        background-image: url(image/bg_sitereport.png);
    }

    30% {
        background-image: url(image/bg_sitereport.png);
    }

    50% {
        background-image: url(image/bg_sitereport_2.png);
    }

    80% {
        background-image: url(image/bg_sitereport_2.png);
    }

    100% {
        background-image: url(image/bg_sitereport.png);
    }
}

.sitereport_main {
    padding: 8%;
    color: #232140;
}

.sitereport_main h1 {
    font-size: 6.5vh;
    font-weight: 800;
    margin-bottom: 2vh;
}

.sitereport_main h2 {
    font-size: 5vh;
    font-weight: 800;
    margin-bottom: 2vh;
}

.sitereport_main p {
    font-size: 2.5vh;
    margin-bottom: 10vh;
    line-height: 1.5;
}

.sitereport_main figure img {
    width: 70vh;
    padding-top: 2vh;
    padding-right: 2vh;
    padding-bottom: 2vh;
}